@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-primaria: #070F2B;
    --cor-secundaria: #F1E5D1;
    --cor-terciaria: #535C91;
    --cor-hover: #535C91;

    --fonte-primaria: "Inter", sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-terciaria: "Roboto Mono", monospace;
    --font-quartenaria: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #0b0c10, #512d6d);
    color: var(--cor-secundaria);
     /*overflow: hidden; Impede a rolagem */
}

.cabecalho {
    display: flex;
    padding: 0% 15% 0% 15%;
    align-items: baseline;
    flex-direction: row;
    align-items: center;    
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
    margin: 0 1.8rem 0 1.8rem;
}

.cabecalho__links {
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 3.10rem 1.9rem;
    align-items: center;
}

.cabecalho__menu__icon {
    width: 3.10rem;
    height: auto;
    align-items: flex-end;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
    transition: text-shadow 0.3s ease-in-out;
}

.cabecalho__menu__link:hover {
    text-shadow: 0 0 0.3rem #fff, 0 0 0.6rem #fff;
}

.cabecalho__imagem {
    height: 1.1rem;
    width: auto;
}

.apresentacao {
    padding: 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.1rem;
    flex-direction: column;
    overflow: hidden;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.home-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    overflow: hidden;
    gap: 1.25rem;
}

.home-imagem {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home__subtituto {
    font-family: var(--font-terciaria);
    font-size: 1.25rem;
    box-shadow: .2em 0 0 #691db6;
    width: 11rem;
    overflow: hidden;
    color: #FFF;
    white-space: nowrap;
    animation: caret .7s step-end infinite alternate,
                type 3s steps(23, end)
}

@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}

.home__titulo {
    font-size: 4.25rem;
    font-family: var(--fonte-primaria);
    background: linear-gradient(to right, #512d6d, #1f449b);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

.home__paragrafo {
    font-size: 1.3rem;
    font-family: var(--font-secundaria);
}

.links__contatos {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.links__navegacao {
    width: 3.2rem;
    text-align: center;
    padding: 1.35rem 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.apresentacao__imagem {
    width: 100%;
    max-width: 37.5rem;
    animation: deslizar 3s infinite;
}

@keyframes deslizar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

.icones__contatos {
    height: 3.1rem;
    width: auto;
}

.icones__contatos:hover {
    filter: grayscale(0);
    transform: scale(1.1) rotate(10deg);
}

.habilidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    flex-wrap: wrap;
    margin: 2.5rem 0 5.9rem 0;
}

.imagem-habilidades {
    max-width: 25rem;
}

.conj__icon {
    display: flex;
    gap: 1.25rem;
}

.icones__tech {
    height: 3.75rem;
    width: auto;
    cursor: pointer;
    transition: 0.2s;
    padding: 0.2rem;
  }
  
  .icones__tech:hover {
    transform: scale(1.25);
  }

.meus__projetos {
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.projetos {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow: hidden;
}

.sec__projeto__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.todos__projetos {
    display: flex;
    gap: 1.25rem;
}

.conteiner-projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    border-radius: 1.25rem;
    overflow: hidden;
    cursor: pointer;
}

.conteiner-projeto-legenda {
    position: absolute;
    top: 3.125rem;
    left: 0.625rem;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 24.38rem;
    height: 15.93rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 35, 70, 0.6);
    color: white;
    font-family: var(--font-secundaria);
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 1.12rem;
}

.conteiner-projeto:hover .conteiner-projeto-legenda {
    opacity: 1;
  }

.conjunto__projetos {
    border-radius: 0.62rem;
    padding: 3.125rem 0.62rem 3.125rem 0.62rem;
    gap: 12.5rem;
    text-decoration: none;
}

.apresentacao__imagem__projetos {
    width: 25rem;
    height: auto;
    flex-direction: row;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-quartenaria);
    font-weight: 300;
    font-size: 0.87rem;
    gap: 0.6rem;
    text-align: center;
    margin: 0 0 0.95rem 0;
}

.rodape__imagem {
    width: 5rem;
    height: auto;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
        padding: 5%;
    }

    .home .habilidades {
        width: auto;
        flex-direction: column;
    }
}



@media (max-width: 480px) {
    body {
        height: 100%;
        width: 100%;
    }
    .cabecalho {
        padding: 5%;
        justify-content: center;
    }
    .cabecalho__menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column;
        padding: 5%;
    }
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-content {
        flex: 1 1 100%;
        max-width: 100%;
        order: 2;
        text-align: center;
    }
    .home-imagem {
        order: 1;
        margin-bottom: 1rem;
    }
    .home__titulo {
        font-size: 4rem;
    }
    .home__paragrafo {
        font-size: 1.3rem;
    }
    .links__contatos {
        gap: 1rem;
    }
    .habilidades {
        display: flex;
        align-items: center; 
    }
    .sec__projeto__conteudo {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center; 
    }
    .todos__projetos{
        flex-direction: column;
        gap: 1rem;
    }
    .conteiner-projeto{

        align-items: center;
    }
}



